<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graph</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/dc.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <style>
        .barChartGraph {
            height: 390px;
            margin-bottom: 50px;
        }
        .paddingClass {
            margin: 2px;
        }
    </style>

</head>
<body>
<div class="container" id="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <a href="#" class="thumbnail" id="homelogo">
                    <img src="../images/venturedive.png" />
                </a>
                <h2 class="text-center employeeColor" >Employee Skill Metrics</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <p class="text-center"><button id="homebtn" class="btn btn-form btn-primary">Home</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="skillSetDiv">
                <h1 class="h3">Skill Sets</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="totalExpContainer" style="height: 480px;margin-bottom: 50px;">
                <h1>Total Experience </h1>
                <div  id="totalExpPie">
                    <div class="reset" >selected: <span class="filter"></span>
                        <a href="javascript:totalExpChart.pieChart.filterAll();dc.redrawAll();">reset</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div style="height: 480px;margin-bottom: 50px;">
                <br/>
                <h1>Venture Dive Experience </h1>
                <div  id="VdExpPie">
                    <div class="reset" >selected: <span class="filter"></span>
                        <a href="javascript:vdExpChart.pieChart.filterAll();dc.redrawAll();">reset</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="tableRow">
        <div class="col-md-12 col-md-offset-1">
            <div style="margin-top: 150px;">
                <h1> Employee Table</h1>
                <div class="table" id="table"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../scripts/graphs.js"></script>
</html>